*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root,
#__next {
    isolation: isolate;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background-color: var(--system-background);
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}